<!DOCTYPE html>
<html lang="en">
	<head>
		<script data-ad-client="ca-pub-1151636325228342" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="google-site-verification" content="oymJ5XfJ1oFXP05bFjm6rTF1XyKNOx1khN-9zICuTNo">
		<title>ZORG</title>
		<link rel="icon" type="image/png" href="/static/Favicon.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/index_route.css">
	</head>
	<body>
		{% include "includes/_messages.html" %}
		{% include "includes/_navbar.html" %}
		<!-- Section 1-->
		<div id="slides" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src={{ url_for('static',filename='feedbackbg.jpg')}} width="100%" height="100%" alt="Background1">
					<div class="carousel-caption">
                        <a href="/register/customer" class="btn btn-primary btn-lg">Customer</a>
                        <a href="/register/hospital" class="btn btn-primary btn-lg">Hospital Management</a>
					</div>
				</div>
			</div>
		</div>
		<hr class="my-4">

		{% extends "footer.html" %}
        <!-- Javascript -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	</body>
</html>
